DIV.toolbar-pic {
  display: block;
  width: 100%;
  height: 12%;
  background-image: url("../toolbar-pic.jpg");
  border: none;
}

DIV.toolbar {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 12%;
  border: none;
}

DIV.logo {
  display: inline-block;
  float: left;
  width: 40%;
  height: 12%;
  border: none;
}

IMG.logo-pic {
  position: absolute;
  height: 12%;
  width: 20%;
}

DIV.tool-btns {
  display: inline-block;
  float: right;
  width: 40%;
  height: 12%;
  border: none;
}

DIV.btns-nav {
  vertical-align: bottom;
  height: 12%;
  width: 40%;
  padding: 0;
}

DIV.body {
  width: 60%;
  height: auto;
  margin: auto;
  padding-block-start: 0%;
}

DIV.content-side {
  display: inline-block;
  width: 75%;
  height: auto;
  float: left;
  border: none;
}

DIV.nav-tweet-side {
  display: inline-block;
  width: 25%;
  height: auto;
  float: right;
  border: none;
  padding: auto;
}


ul{
  width: 400;
	margin:0;
	padding:0;
  list-style: none;
  float: right;
  display: inline;
}

li.js-dropdown, li.emptymenu {
  width:80px;
	height:30px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}
li.js-dropdown:hover, li.emptymenu:hover {background:#999;}

p.menu-item {
  padding-top: 0px;
}

a{
	color:#FFF;
	text-decoration:none;
}
