body{margin: 0; padding: 0;}
DIV{margin: 0; padding: 0;}

DIV.toolbar-pic {
  top: 0;
  display: block;
  width: 100vw;
  height: 13vh;
  background-image: url("../toolbar-pic.jpg");
  border: none;
  margin-bottom: 1%;
}

DIV.toolbar {
  position: absolute;
  display: inline-block;
  width: 60vw;
  height: 13vh;
  margin-left: 20%;
  margin-right: 20%;
}

DIV.logo {
  position: absolute;
  display: inline-block;
  width: 18vw;
  height: 12vh;
  border: none;
  overflow: hidden;
}

IMG.logo-pic {
  height: 100%;
  width: 100%;
} 

DIV.tool-btns {
  display: inline-block;
  float: right;
  width: 24vw;
  height: 12vh;
  border: none;
}

DIV.srch-nav {
  position: relative;
  display: block;
  float: right;
  height: 0.144vh;
  padding-top: 2.5vh;
}

DIV.btns-nav {
  z-index: 1;
  position: relative;
  display: block;
  height: 4.8vh;
  float: right;
  padding-left: 60%;
  width: 40%;
  margin-top: 10%;
}

DIV.body {
  position: absolute;
  padding-left: 20vw;
  width: 60vw;
  height: 180vh;
}

DIV.content-side {
  margin-top: 6%;
  position: relative;
  display: inline-block;
  width: 75%;
  height: auto;
  border: none;
  line-height:0px;
}


DIV.img-slider-container{
  position: relative;
  display: block;
  height: 40vh;
  width: 60vw;
  margin-bottom: 5vh;
  margin-top: 8vh;
}

DIV.news-block {
  width: 100%;
  padding-top: 3%;
  position: absolute;
  display: block;
  height: auto;
}

DIV.nav-tweet-side {
  display: inline-block;
  width: 25%;
  height: auto;
  float: right;
  border: none;
}


ul{
  width: 28.4vw;
	margin:0;
  padding: 0;
  list-style: none;
}
ul.nav-list {
  float: right;
  position: relative;
  display: inline-block;
}

li.js-dropdown, li.emptymenu {
  width:5.6vw;
	height:5vh;
	float:right;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

p.menu-item {
  font-size: 1.125em;
  margin: 0px;
  background: #999;
  text-align: left;
  padding-bottom: 0.46vh;
  line-height: normal;
}

a{
	color:#FFF;
	text-decoration:none;
  line-height: normal;
}

ul.show {
  width: 20.8vw;
}
li.show-li {
  width: 20.8vw;
  position: relative;
}

li {list-style: none;}

button.randombutton {
  width: 100%;
  display: block;
  background-image: url("../toolbar-pic.jpg");
  text-align: center;
  border: none;
  color: red;
  font-size: 3vh;
  line-height: normal;
}