img.article-pic-large{
  height: 55%;
  width: 80%;
  margin: 0;
  padding: 1%;
  display: block;
}
img.article-pic-small{
  height: 20%;
  width: 30%;
  margin: 0;
  padding: 1%;
  display: inline;
}
iframe.youtube-vid{
  height: 55%;
  width: 80%;
  margin: 0;
  padding: 0%;
  display: block;
}

img.slider-img {
  padding: 13%;
  height: 30%;
  width: 170%;
  display: block;
}img.emp-picture{
  height: 20%;
  width: 15%;
}
div.emp-deails{
  display: inline block;
}
div.emp-pic{
  display: inline block;
}