img.article-pic-large{
  padding-left: 10%;
  height: 28%;
  width: 80%;
  margin: 0;
  display: block;
}
img.article-pic-small{
  height: 13%;
  width: 25%;
  margin: 0;
  padding: 1%;
  display: inline;
  float: left;
}
iframe.youtube-vid{
  padding-left: 10%;
  height: 28%;
  width: 80%;
  margin: 0;
  display: block;
  border: none;
}

img.slider-img {
  height: 300;
  width: 170%;
  display: block;
}

img.emp-picture{
  height: 15%;
  width: 28%;
  margin: 0;
  padding: 1%;
  display: inline;
  float: left
}

div.emp-contact{
  position: relative;
  padding-bottom: 1%;
}